/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  .navbar-default {
    transition: 500ms ease;
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
    background: rgba(255, 255, 255, 0.1);
    height: 15%
  }
  .navbar-default>img {
    height: 100%;
    padding: 15px;
    width: auto;
  }
  .navbar-default.scrolled,.bg {
    transition: 500ms ease;
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
    background: #18d26e;
  }
